<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">

	<!-- 自动扫描web包 ,将带有注解的类 纳入spring容器管理 -->
<!-- 	<context:component-scan base-package="com.milesbone.rpc"></context:component-scan> -->
	 <!-- 配置服务发现组件 -->
<!-- 	<bean id="serviceDiscovery" class="com.milesbone.rpc.client.ServiceDiscovery"> -->
<!-- 		<constructor-arg name="registryAddress" value="${registry.address}"></constructor-arg> -->
<!-- 	</bean> -->
	<!-- 配置 RPC 代理 -->
<!-- 	<bean id="rpcProxy" class="com.milesbone.rpc.client.RpcProxy"> -->
<!-- 		<constructor-arg name="serviceDiscovery" ref="serviceDiscovery"></constructor-arg> -->
<!-- 	</bean> -->
</beans>
