<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">

	<bean class="com.milesbone.account.listener.UserListener"></bean>


	<!-- EventSource -->
	<bean id="loginEventSource" class="com.milesbone.login.listener.LoginEventSource"></bean>

	<!-- Listener -->
	<bean id="loginLogListener" class="com.milesbone.login.listener.LoginLogListener"></bean>

	<bean id="loginMailListener" class="com.milesbone.login.listener.LoginMailListener"></bean>


	<!-- 注册监听 -->
	<bean id="registerLoginLogListener"
		class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
		<property name="targetObject">
			<ref bean="loginEventSource" />
		</property>
		<property name="targetMethod">
			<value>registerListener</value>
		</property>
		<property name="arguments">
			<list>
				<ref bean="loginLogListener" />
			</list>
		</property>
	</bean>
	
	<bean id="registerLoginMailListener"
		class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
		<property name="targetObject">
			<ref bean="loginEventSource" />
		</property>
		<property name="targetMethod">
			<value>registerListener</value>
		</property>
		<property name="arguments">
			<list>
				<ref bean="loginMailListener" />
			</list>
		</property>
	</bean>

</beans>
